<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:with="http://www.thymeleaf.org/extras/with" layout:decorate="~{main_layout}" with:title="index">
  <th:block layout:fragment="content">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a th:href="@{/category/add}"><i class="fa fa-plus"></i> Add</a>
      </li>
    </ul>
    <h7 th:text="${message}" class="text-info"></h7>
    <table class="table table-bordered text-center mb-0">
      <thead class="bg-secondary text-dark">
        <tr>
          <th>Category Id</th>
          <th>Category Name</th>
          <th>Edit</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody class="align-middle">
        <tr th:each="category : ${categories}">
          <td class="align-middle" th:text="${category.id}"></td>
          <td style="text-align: left" th:text="${category.name}"></td>
          <td class="cart_edit">
            <a class="cart_quantity_input" th:href="@{edit/{id}(id=${category.id})}"><i class="fa fa-edit"></i></a>
          </td>
          <td class="cart_delete">
            <a class="cart_quantity_delete" th:href="@{delete/{id}(id=${category.id})}"><i class="fa fa-times"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </th:block>
</html>
